<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="testBean"
          class="roksard.spring1.TestBean">
        <constructor-arg value="greeting!"/>
    </bean>

    <bean id="testNewBeanCreated"
          class="roksard.spring1.TestBean">
        <constructor-arg value="greeting!"/>
    </bean>

    <bean id="testDefaultConstructor"
          class="roksard.spring1.TestBean">
    </bean>

    <bean id="testPassIntValueIntoConstructor"
          class="roksard.spring1.TestBean">
        <constructor-arg value="25"/>
    </bean>

    <bean id="testPassIntValueAndTypeToConstructor"
          class="roksard.spring1.TestBean">
        <constructor-arg value="25" type="int"/>
    </bean>

</beans>